- hosts: all
  gather_facts: yes
  become: true

  roles:
    - { role: geerlingguy.pip, pip_install_packages: [docker, docker-compose] }

  tasks:
    - name: Copy docker-compose file
      ansible.builtin.template:
        src: docker-compose.yml
        dest: "/home/docker-compose.yml"
    - name: Create and start services
      community.docker.docker_compose:
        # link the docker compose file in the docker folder
        project_src: "/home"
        remove_orphans: true
